body {
  margin: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.popup {
  width: 350px;
  margin: 30px auto;
  background: #1e293b;
  border-radius: 20px;
  padding: 20px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  color: #22c55e;
  font-size: 12px;
}

.risk-section {
  text-align: center;
  margin-top: 20px;
}

.risk-circle {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
  color: white;

  background: conic-gradient(
    #22c55e 0deg 120deg,
    #facc15 120deg 240deg,
    #ef4444 240deg 360deg
  );

  box-shadow:
      0 0 30px rgba(239,68,68,.4);
}

.risks,
.recommendation {
  background: #334155;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #3b82f6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}